<!DOCTYPE html>
<html>
<head>
<title>CONFIRMATION</title>
</head>

<body style="padding-left:120px;">
<h2>Place your order</h2>
<%= render 'items', :order => current_order %><br><br>
<%= button_to "Place order" %>
</body>
</html>